.settings
/build/**
/WebContent/META-INF
/WebContent/WEB-INF
.classpath
.project
.metadata
.recommenders
RemoteSystemsTempFiles

/**/.settings
/**/build/**
/**/WebContent/META-INF
/**/WebContent/WEB-INF
/**/.classpath
/**/.project
/**/.metadata
/**/.recommenders
/**/bin